.App {
  text-align: center;
}

/* Contenu.js*/

.bouton-contenu.bouton-rond{
  direction: rtl;
  float: right;
 /* border-radius: 30%; */
 margin-top: 2%;
 background-color: #d1e5f8;  /*0a396ca3    */ 
 margin-right: 2%;
 
}


 
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px; /* Ajoutez de l'espace en haut des boutons */
  float: right;
  margin-top: 2%;
  margin-right: 2%;
}

.button-container .submit-button {
  margin-right: 8px; /* Ajoutez une marge à droite pour séparer les boutons */
}

.button-container .cancel-button {
  margin-left: 8px; /* Ajoutez une marge à gauche pour séparer les boutons */
}

.snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 16px;
  background-color: rgb(34, 200, 34); /* ajustez la couleur selon votre besoin rgb(34, 200, 34)*/
  color: white;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #4a6481a3; /* Couleur de fond de la modalité, ajustez selon vos préférences  4a6481a3 */
  padding: 20px; /* Espace intérieur pour un meilleur aspect */
  border-radius: 8px; /* Coins arrondis pour un aspect plus esthétique */
}

/* App.css */
.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* itemProgram.js */
.menu-item.archived {
  background-color: rgb(254, 243, 242) ;   /*rgb(254, 243, 242)    fafbe5*/
}

/* unapprove profile pour les card*/
.shine-background {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  animation: shine 1.5s infinite;
}

@keyframes shine {
  to {
    transform: translateX(100%);
  }
}

/* Ajoutez d'autres styles si nécessaire */

/* App.css */


/* Ajoutez ces styles à votre fichier CSS global ou à l'endroit approprié */


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
